<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @book.nome %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book.pages %>
</p>

<p>
  <strong>Resumo:</strong>
  <%= @book.resumo %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
